.view-records-button {
    background-color: #0064FF; /* 버튼 배경색 */
    color: #ffffff; /* 글자색 */
    border: none; /* 기본 테두리 제거 */
    padding: 6px 20px; /* 버튼 내부 여백 */
    border-radius: 5px; /* 둥근 테두리 */
    font-size: 14px; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    cursor: pointer; /* 마우스 커서 변경 */
    transition: background-color 0.3s; /* 호버 시 부드러운 전환 효과 */
}

.view-records-button:hover {
    background-color: #0056D6; /* 호버 시 배경색 */
}
